<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Upload/Download Example!</title>
</head>
<body>
    <h2> File Upload/Download Example! </h2>

    <form method="post" action="/upload" enctype="multipart/form-data">
        <input type="file" name="myFile">
        <input type="submit" value="Submit File!">
    </form>

</body>
</html>